- @position = 'Website Developer'
- @company = {url: 'https://ack.me', name: 'ACKme Networks'}
- @where = 'Los Gatos, CA'
- @period = '2011 - Present'
= haml :_title_info

.text
  .item
    Collaborated with a graphic designer to create a new company website complete with a product database, online store, news article section, knowledge base, and an employee back end with fine-grained access control. Employees and partners can log in to take advantage of the specially designed content management system which provides a simple yet powerful interface for modifying the content and behavior of the site. Technologies used include CakePHP, jQuery, AJAX, Ubuntu Linux, MySQL, Apache, and Git.

- @position = "Software Engineer"
- @company = {url: 'http://www.saltspringcentre.com', name: 'Salt Spring Centre of Yoga'}
- @where = 'Salt Spring Island, BC, Canada'
- @period = '2012 - Present'
= haml :_title_info

.text
  .item
    Replacing various outdated systems and databases with a comprehensive software tool integrating the many unique aspects of the organization's structure. This web based app is designed to bring together online registration, contact databases, room assignments, administrative task delegation, detailed reports, and systems management into one streamlined and centralized location. This is a Ruby on Rails application utilizing jQuery, AJAX, and SASS.
  .item
    Improving productivity, reducing error, minimizing manual labor and employee burn-out.

- @position = 'Software Engineer'
- @company = {url: 'http://www.mountmadonna.org', name: 'Mount Madonna Center'}
- @where = 'Mount Madonna, CA'
- @period = '2007 - 2012'
= haml :_title_info

.text
  .item
    Developed the
    %a{:href => 'http://media.mountmadonna.org'} Mount Madonna Media Library
    (using CakePHP and a great deal of jQuery) for students to access streaming audio and video from classes they have taken;
    created a website for the
    %a{:href => 'http://www.hanumanfellowship.org/temple'} Hanuman Temple
    including a content management system for updating pages, and an online reservation system for temple visitors;
    developed an operations app for creating, maintaining, and managing the schedules for Center work areas, staff, and administrative groups.
  .item
    Increased efficiency, consistency and flexibility, and provided a means for preserving institutional knowledge.


- @position = 'Jazz Piano Player, Composer, Band&nbsp;Leader, Recording Artist'
= @company = ''
- @where = ''
- @period = '2001 - Present'
= haml :_title_info

.text
  .item
    Featured on numerous published recordings including
    <i>Drumenergy</i> (2012) – Shawn Glyde (Keyboards, Composer),
    <i>Alternate Rhythm</i> (2007) – Shawn Glyde (Keyboards, Composer),
    <i>3D</i> (2004) – Jing Chi (Composer)
  .item
    Piano Player, Grand Hotel, Mackinac Island, MI (2005)
  .item
    Leader of the Jazz trio “Society,” playing weekly at Stobers Bar in Lansing, MI (2003 - 2004)
  .item
    Ran a weekly Jazz Jam Session in Boston, MA (2001 – 2002)
